<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuyuan.wxmp.mapper.AiReplyRecordMapper">

    <resultMap id="BaseResultMap" type="com.yuyuan.wxmp.model.entity.AiReplyRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="appId" column="appId" jdbcType="CHAR"/>
            <result property="fromUser" column="fromUser" jdbcType="VARCHAR"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="replyMessage" column="replyMessage" jdbcType="VARCHAR"/>
            <result property="replyStatus" column="replyStatus" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,appId,fromUser,
        message,replyMessage,replyStatus,
        createTime,updateTime
    </sql>
</mapper>
